winemag-data.csv 파일을 reviews 로 읽는다.

In [51]:
import pandas as pd

In [52]:
reviews = pd.read_csv('winemag-data.csv', index_col=0)

In [53]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [54]:
reviews['points'].median()

88.0

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [55]:
countries = reviews['country'].unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [56]:
reviews.groupby('country')['country'].count() # county로 그룹바이하고 country 컬럼을 보여줘라

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: country, dtype: int64

In [57]:
# sol2)  정렬 차이
reviews['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
Egypt                         1
Slovakia                      1
China                         1
Name: country, dtype: int64

In [58]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [59]:
centered_price = reviews['price'] - reviews['price'].mean()

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [60]:
reviews['pick'] = reviews['points'] / reviews['price']

reviews.sort_values('pick' , ascending=False).head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,pick
64590,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit,21.50
126096,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas,21.50
20484,US,"Fruity, soft and rather sweet, this wine smell...",NaN,85,4.0,California,Clarksburg,Central Valley,Jim Gordon,@gordone_cellars,Dancing Coyote 2015 White (Clarksburg),White Blend,Dancing Coyote,21.25

In [ ]:
# sol) 포인트를 가격으로 나누자 1달러당 몇점?

In [ ]:
# reviews.loc[ reviews['가성비'] == reviews['가성비'].max()  ,  ]

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [95]:
reviews.loc[ reviews['description'].str.contains("tropical")].shape

(3607, 15)

In [96]:
reviews.loc[ reviews['description'].str.contains("fruity")].shape

(9090, 15)

In [63]:
d = {'tropical': 50498, 'fruity': 127260 }
descriptor_counts = pd.Series(data=d, index=['tropical', 'fruity'])
descriptor_counts

tropical     50498
fruity      127260
dtype: int64

In [ ]:
##################### solution ###############################

In [ ]:
# sol 1)

In [81]:
'tropical' in reviews['description'][0]  # 문자열 있는지 확인하기

True

In [ ]:
reviews['description'][0].str # 데이터를 문자열 화 시킨다

In [ ]:
reviews['description'][0].str.contains(' ') # 그 후 포함된 문자열 찾기

In [89]:
reviews['description'].str.contains("fruity").sum()

9090

In [ ]:
# sol 2)

In [93]:
def is_tropical ( sentence) :
    if 'tropical' in sentence :
        return True
    else :
        return False

In [94]:
reviews['description'].apply( is_tropical ).sum()

3607

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [80]:
star=[]

for data in reviews['points']:
    if data >= 95:
        star.append(3)
    
    elif 95 > data >=85 :
        star.append(2)
    
    else :
        star.append(1)

        
reviews['star'] = star

reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,pick,star
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,2

In [ ]:
####### sol #######

In [ ]:
def get_star(point):
    if point > 95 :
        return 3
    elif point>85 :
        return 2
    else:
        return 1

reviews['points'].apply( get_star )

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [69]:
reviews['region_2'] = reviews['region_2'].fillna('Unknown')

In [70]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,pick
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286

포인트로 그룹바이하고, 몇개의 데이터가 있는지 카운팅

In [74]:
reviews.groupby('points').size()  # 왼쪽 인덱스 정렬

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
dtype: int64

In [97]:
# sol 2)

reviews['points'].value_counts()   # 오른쪽 value 데이타 정렬

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

포인트별 가격의 최소값을 구해본다.

In [99]:
import numpy as np

reviews.groupby('points')['price'].agg( [ np.min , np.max , np.std,  np.mean]  )  # 여러함수 동시에 쓰는 법

        amin    amax         std        mean
points
80       5.0    69.0    8.476347   16.372152
81       5.0   130.0   11.913989   17.182353
82       4.0   150.0   11.029231   18.870767
83       4.0   225.0   11.568984   18.237353
84       4.0   225.0   12.730402   19.310215
85       4.0   320.0   13.065125   19.949562
86       4.0   170.0   14.112948   22.133759
87       5.0   800.0   18.518484   24.901884
88       6.0  3300.0   31.443071   28.687523
89       7.0   500.0   22.191063   32.169640
90       8.0   510.0   23.941968   36.906622
91       7.0  2013.0   32.646402   43.224252
92      11.0   750.0   32.295930   51.037763
93      12.0   770.0   43.665968   63.112216
94      13.0  1125.0   69.745545   81.436938
95      20.0   973.0  102.278905  109.235420
96      20.0  2500.0  226.955589  159.292531
97      35.0  2000.0  229.087465  207.173913
98      50.0  1900.0  278.559246  245.492754
99      44.0   850.0  210.734581  284.214286
100     80.0  1500.0  410.142451  485.947368

각 국가별로, 가격의 최소값, 최대값 은?

In [78]:
reviews.groupby('country')['price'].min()

country
Argentina                  4.0
Armenia                   14.0
Australia                  5.0
Austria                    7.0
Bosnia and Herzegovina    12.0
Brazil                    10.0
Bulgaria                   8.0
Canada                    12.0
Chile                      5.0
China                     18.0
Croatia                   12.0
Cyprus                    11.0
Czech Republic            15.0
Egypt                      NaN
England                   25.0
France                     5.0
Georgia                    9.0
Germany                    5.0
Greece                     8.0
Hungary                   10.0
India                     10.0
Israel                     8.0
Italy                      5.0
Lebanon                   13.0
Luxembourg                16.0
Macedonia                 15.0
Mexico                     8.0
Moldova                    8.0
Morocco                   14.0
New Zealand                7.0
Peru                      10.0
Portugal                   5.0
Romania                    4.0
Serbia                    15.0
Slovakia                  16.0
Slovenia                   7.0
South Africa               5.0
Spain                      4.0
Switzerland               21.0
Turkey                    14.0
US                         4.0
Ukraine                    6.0
Uruguay                   10.0
Name: price, dtype: float64

In [79]:
reviews.groupby('country')['price'].max()

country
Argentina                  230.0
Armenia                     15.0
Australia                  850.0
Austria                   1100.0
Bosnia and Herzegovina      13.0
Brazil                      60.0
Bulgaria                   100.0
Canada                     120.0
Chile                      400.0
China                       18.0
Croatia                     65.0
Cyprus                      21.0
Czech Republic              45.0
Egypt                        NaN
England                     95.0
France                    3300.0
Georgia                     40.0
Germany                    775.0
Greece                      79.0
Hungary                    764.0
India                       20.0
Israel                     150.0
Italy                      900.0
Lebanon                     75.0
Luxembourg                  30.0
Macedonia                   20.0
Mexico                     108.0
Moldova                     42.0
Morocco                     40.0
New Zealand                130.0
Peru                        68.0
Portugal                  1000.0
Romania                    320.0
Serbia                      42.0
Slovakia                    16.0
Slovenia                    90.0
South Africa               330.0
Spain                      770.0
Switzerland                160.0
Turkey                     120.0
US                        2013.0
Ukraine                     13.0
Uruguay                    130.0
Name: price, dtype: float64